a {
  text-decoration: none;
}

.victim-view-wrapper {
  width: 30%;
  margin: 0 auto;
}

.victim-view-row {
  margin: 10px 0;
  display: flex;
}

.victim-view-row > label:first-child {
  margin: 10px 0;
  width: 30%;
  font-weight: bold;
}

.victim-view-row > *:nth-child(2) {
  margin: 10px 0;
  width: 70%;
}

.victim-create-wrapper {
  margin: 10px 0;
}

.victim-btn {
  margin : 10px;
}

.victim-table {
  width: 40%;
  margin: 0 auto;
  border-collapse: collapse;
}

.victim-table {
  border-collapse: collapse;
  border-top: 3px solid #168;
}  
.victim-table th {
  color: #168;
  background: #f0f6f9;
}
.victim-table th, .victim-table td {
  padding: 10px;
  border: 1px solid #ddd;
}
.victim-table th:first-child, .victim-table td:first-child {
  border-left: 0;
}
.victim-table th:last-child, .victim-table td:last-child {
  border-right: 0;
}

.victim-table-detail {
  color: #168;
  background: #f0f6f9;
}

.victim-input {
  height: 2em;
  /* height: 32px; */
  font-size: 15px;
  border: 0;
  border-radius: 15px;
  outline: none;
  padding-left: 10px;
  background-color: rgb(233, 233, 233);
}

.victim-register-div {
  text-align: center;
}

.victim-message {
  font-size: 0.8em;
  color: red;
  margin-bottom: 10px;
}

.victim-message-edit {
  font-size: 0.8em;
  color: red;
}