.victim-view-wrapper {
  width: 60%;
  margin: 0 auto;
}

.victim-view-row {
  margin: 10px 0;
  display: flex;
}

.victim-view-row > label:first-child {
  margin: 10px 0;
  width: 30%;
  font-weight: bold;
}

.victim-view-row > *:nth-child(2) {
  margin: 10px 0;
  width: 70%;
}